<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>UpFILES iMackDEV </title>
</head>
<body>
    <h1>HI THERE!</h1>
    <!-- index.html -->

    <form action="/load" method="post" enctype="multipart/form-data">

        <label>Departments CSV:</label>
        <input type="file" name="departments">
    
        <label>Jobs CSV:</label>
        <input type="file" name="jobs">
    
        <label>Employees CSV:</label>
        <input type="file" name="employees">
    
        <input type="submit" value="Load Data">
    
    </form>
</body>
</html>


